.footer {
  height: 1px;
  width: 100%;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
/* footer 总容器的 flex */
.kungalgame-footer-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* 
  ----------------------------------
  |
  |波浪部分
  |
  ----------------------------------
  */
/* 波浪的属性设置 */
.kun-footer-waves {
  position: relative;
  margin-bottom: -4px;
  width: 100%;
  /* 设定顶部波浪的高度 */
  min-height: 50px;
  max-height: 50px;
}

/* 波浪的动画 */

.kun-footer-parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.kun-footer-parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.kun-footer-parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.kun-footer-parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.kun-footer-parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* 移动端适配 */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
/* 
  ----------------------------------
  |
  |信息部分
  |
  ----------------------------------
  */
/* 头部下面的信息展示部分,目的是使信息区域居中且占比 61.8 */
.kungalgame-footer-info {
  /* 信息区域的增长 */
  flex-grow: 1;
  display: flex;
  background-color: rgba(217, 233, 255, 0.7);
}
/* 信息展示部分的容器,目的是把左侧的信息和右侧的网站介绍分开 */
.kungalgame-footer-info-wrap {
  margin: 0 auto;
  /* 信息区域总宽度 61.8% */
  width: 61.8%;
  /* 信息区域最小宽度 */
  min-width: 700px;
  /* 为了左右两部分设置弹性盒 */
  display: flex;
}
/* 左侧的信息容器 */
.kungalgame-footer-left-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* 左侧分类信息区相对于右侧网站介绍的比例 */
  flex-grow: 2;
}
/* 左侧顶部的信息 */
.footer-left-top-info {
  display: flex;
  justify-content: center;
}
/* 顶部的三个 ul */
.footer-catalog-wrap {
  width: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: rgb(77, 77, 77);
  font-size: small;
}
.footer-catalog-wrap ul li a {
  flex-grow: 1;
  color: rgb(77, 77, 77);
}
.footer-catalog-wrap ul {
  color: rgb(77, 77, 77);
}
/* 每个信息类别的标题 */
.kungalgame-footer-catalog-title {
}
/* 左侧下方的信息 */
.footer-left-bottom-info {
  display: flex;
  flex-direction: column;
}
/* 下方上面的联系我们 */
.kungalgame-contact {
  width: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(77, 77, 77);
  font-size: small;
}
.kungalgame-contact h2 {
  margin-right: 20px;
  font-size: medium;
}
.kungalgame-contact ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.kungalgame-contact ul li {
  flex-grow: 1;
}
/* 版权描述,版本号 */
.kungalgame-footer-copyright {
  display: flex;
  justify-content: center;
  font-size: smaller;
}
/* 右侧的网站信息容器 */
.kungalgame-footer-right-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 右侧网站介绍部分相对于左侧的占比 */
  flex-grow: 1;
  color: rgb(77, 77, 77);
}
/* 网站名 */
.kungalgame {
  font-size: larger;
  padding-bottom: 20px;
  font-weight: bold;
}
/* 网站描述 */
.kungalgame-describe {
  max-width: 100%;
}
