@import url(./color.css);
/* 头部样式 */
.header {
  /* 头部高度 */
  height: 58px;
  /* 头部下方阴影 */
  box-shadow: 0 2px 4px 0 var(--kungalgame-trans-blue-1);
  /* 头部背景 */
  backdrop-filter: blur(5px);
  background-color: var(--kungalgame-trans-white-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-top {
  display: flex;
  align-items: center;
}
.kungal-info {
  display: flex;
  align-items: center;
}
/* 网站 LOGO */
.kungal-info img {
  height: 50px;
  margin-left: 50px;
  cursor: pointer;
}
/* 网站名称 */
.kungal-info span {
  margin-left: 20px;
  margin-right: 7px;
  color: var(--kungalgame-font-color-3);
  font-weight: bold;
  cursor: pointer;
}
/* 顶部导航栏 */
.top-bar {
  width: 400px;
  position: relative;
  text-align: center;
}
.top-bar ul {
  display: flex;
  align-items: center;
  right: 5%;
}
.top-bar ul .top-bar-box {
  position: absolute;
  bottom: 0;
  left: 0;
  /* 如果导航栏就六个导航，那么每个导航的宽度都是整个导航
            的六分之一 */
  width: calc((100% / 4) * 1);
  height: 7px;
  border-radius: 2px;
  transition: 0.5s;
}
.top-bar ul li {
  width: 100%;
  color: var(--kungalgame-blue-5);
  font-weight: bold;
  display: block;
  width: 100%;
  line-height: 58px;
  cursor: pointer;
}
.top-bar ul li:hover {
  background-color: var(--kungalgame-blue-0);
  transition: 0.5s;
  border-radius: 2px;
}
.top-bar ul li:nth-child(1):hover ~ .top-bar-box {
  left: calc(100% / 4 * 0);
  background-color: var(--kungalgame-red-3);
}
.top-bar ul li:nth-child(2):hover ~ .top-bar-box {
  left: calc(100% / 4 * 1);
  background-color: var(--kungalgame-yellow-3);
}
.top-bar ul li:nth-child(3):hover ~ .top-bar-box {
  left: calc(100% / 4 * 2);
  background-color: var(--kungalgame-blue-3);
}
.top-bar ul li:nth-child(4):hover ~ .top-bar-box {
  left: calc(100% / 4 * 3);
  background-color: var(--kungalgame-green-3);
}

/* 顶部搜索框 */
/* 

TODO:

*/

/* 用户个人信息 */
.kungalgamer-info {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.kungalgamer-info img {
  border-radius: 50%;
  height: 40px;
}

.kungalgamer-info > span {
  color: var(--kungalgame-font-color-2);
  margin-left: 30px;
  padding-right: 50px;
}
