/* 头部样式 */
.header {
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 140, 255, 0.17);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-top {
  display: flex;
  align-items: center;
}
.kungal-info {
  display: flex;
  align-items: center;
}
/* 网站 LOGO */
.kungal-info img {
  height: 50px;
  margin-left: 50px;
}
/* 网站名称 */
.kungal-info span {
  margin-left: 20px;
  margin-right: 7px;
}
/* 顶部导航栏 */
.top-bar {
  width: 400px;
  height: 60px;
  position: relative;
  background-color: #fff;
  text-align: center;
}
.top-bar ul {
  display: flex;
  align-items: center;
  right: 5%;
}
.top-bar ul .top-bar-box {
  position: absolute;
  bottom: 0;
  left: 0;
  /* 如果导航栏就六个导航，那么每个导航的宽度都是整个导航
            的六分之一 */
  width: calc((100% / 4) * 1);
  height: 7px;
  border-radius: 2px;
  transition: 0.5s;
}
.top-bar ul li {
  width: 100%;
}
.top-bar ul li a {
  color: rgb(70, 100, 180);
  font-size: 0.8em;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}
.top-bar ul li a:hover {
  background-color: #ecf3ff;
  transition: 0.5s;
}
.top-bar ul li:nth-child(1):hover ~ .top-bar-box {
  left: calc(100% / 4 * 0);
  background-color: rgb(255, 130, 130);
}
.top-bar ul li:nth-child(2):hover ~ .top-bar-box {
  left: calc(100% / 4 * 1);
  background-color: rgb(251, 213, 0);
}
.top-bar ul li:nth-child(3):hover ~ .top-bar-box {
  left: calc(100% / 4 * 2);
  background-color: rgb(78, 164, 255);
}
.top-bar ul li:nth-child(4):hover ~ .top-bar-box {
  left: calc(100% / 4 * 3);
  background-color: rgb(0, 206, 0);
}

/* 顶部搜索框 */

/* 搜索框位置设定 */
.top-search-container {
  margin-left: 200px;
  transform: translate(-50%);
}

.top-search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 20px;
  height: 20px;
  transition: all 0.25s ease-in 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
  margin-right: 0px;
}

.top-search-box input[type="text"]:hover {
  cursor: pointer;
}

.top-search-box input[type="text"]:hover:focus {
  cursor: text;
}

.top-search-box input[type="text"]:hover + span {
  background: rgba(255, 0, 0, 0.2);
}

.top-search-box input[type="text"]:focus {
  width: 250px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: rgb(0, 0, 0);
}

.top-search-box input[type="text"]:focus + span {
  width: 250px;
}

.top-search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}

.top-search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  top: 0;
  width: 20px;
  height: 20px;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}

.top-search-box input[type="text"] + span::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  transform: rotate(45deg) translate(26px, -2px);
}

/* 用户个人信息 */
.kungalgamer-info {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.kungalgamer-info img {
  border-radius: 50%;
  height: 40px;
}

.kungalgamer-info span {
  color: rgb(81, 81, 81);
  margin-left: 20px;
}
