@import url(./color.css);
/* 主体部分配置 */
.main {
  width: 100%;
  height: 1px;
  flex-grow: 21;
  /* 背景图片 */
  /*   background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 可视内容部分宽度 */
.content-container {
  width: 61.8%;
  /* 可视页面的最小宽度 */
  min-width: 700px;
  /* 盒子边线在内部，页面缩小到最小时右侧不留白 */
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  /* 设置可视内容区不覆盖顶部 shadow */
  margin-top: 5px;
  /* 可视内容区为弹性盒 */
  display: flex;
  /* 可视内容区居中 */
  align-items: center;
  /* 设置背景毛玻璃效果 */
  backdrop-filter: blur(5px);
  background-color: var(--kungalgame-trans-white-5);
  /* 设置背景边框和圆角 */
  border-radius: 5px;
  padding: 5px;
}
/* 
----------------------------------
|
|整个左侧区域
|
----------------------------------
*/
/* 侧边栏部分 */
.aside {
  /* 侧边栏距离文章区域的距离 */
  margin-right: 5px;
  width: 240px;
  /* 侧边栏相对于整体可视部分的占比 */
  /* 侧边栏高度 */
  height: 100%;
  /* 设置侧边栏为弹性盒子 */
  display: flex;
  /* 方向为竖向 */
  flex-direction: column;
}
/* 
----------------------------------
|
|左侧的上部
|
----------------------------------
*/
/* 侧边栏交互 */
.nav-aside {
  width: 100%;
  height: 1px;
  /* 折叠区相当于侧边栏的占比 */
  flex-grow: 1;
  /* 内容居中（折叠左侧区域） */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* 字体设置 */
  font-size: small;
  color: var(--kungalgame-font-color-3);
  /* 页面缩小到最小时不换行 */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
/* 侧边栏功能区 */
.item-box {
  width: 100%;
  height: 1px;
  /* 功能区相对于侧边栏的占比 */
  flex-grow: 6;
  /* 设置六个功能（模式、排行、背景等）分布的弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 发布帖子 */
.new-article {
  width: 100%;
  /* 发布帖子的按钮相对于功能区盒子的占比 */
  flex-grow: 2;
}
/* 发布按钮样式 */
.new-article button {
  height: 100%;
  width: 100%;
  background-color: var(--kungalgame-red-0);
  border: 1px solid var(--kungalgame-red-3);
  border-radius: 5px;
  cursor: pointer;
  color: var(--kungalgame-red-3);
  font-weight: bold;
  font-size: larger;
  /* 页面缩小到最小时不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 发布按钮 hover 效果 */
.new-article button:hover {
  font-size: xx-large;
  background-color: var(--kungalgame-red-3);
  color: var(--kungalgame-red-0);
  /* 效果过渡时长 */
  transition: 0.3s;
}
/* 功能区容器 */
.item-box-container {
  /* 两行三列 grid 布局 */
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(2, 40px);
  font-size: 14px;
  /* 字体颜色 */
  color: var(--kungalgame-font-color-3);
  /* 相对定位 */
  position: relative;
}
/* 六个功能之间的距离 */
.item-box-container > div {
  /* 设置六个功能（模式、排行、背景等）之间的间距 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--kungalgame-font-color-2);
}
/* 模式切换 */
.kungalgame-model {
  position: absolute;
  top: 50%;
  /* 模式切换的高度 */
  height: 77px;
  width: 80px;
  display: none;
  flex-direction: column;
  background-color: var(--kungalgame-blue-0);
  z-index: 7;
}
/* hover 时菜单出现 */
.kungalgame-model-container:hover .kungalgame-model {
  display: flex;
}
/* 白天/黑夜设置居中 */
.kungalgame-model li {
  height: 1px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 图标字体距离文字的位置 */
.kungalgame-model li i {
  margin-right: 5px;
}
/* 每一个模式切换的 hover */
.kungalgame-model li:hover {
  background-color: var(--kungalgame-red-1);
}
/* 设置六个功能（模式、排行、背景等）的 hover */
.item-box-container > div:hover {
  color: var(--kungalgame-font-color-3);
  background-color: var(--kungalgame-blue-0);
  cursor: pointer;
}
/* hover 时展示背景功能板块 */
.kungalgame-background:hover .kungalgame-background-container {
  display: block;
}
/* 背景容器 */
.kungalgame-background-container {
  display: none;
  /* 背景菜单的高度 */
  height: 300px;
  /* 相对于功能区绝对定位 */
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: var(--kungalgame-blue-0);
  box-shadow: 1px 2px 1px 1px var(--kungalgame-trans-red-3);
  font-size: 15px;
  font-weight: normal;
  color: var(--kungalgame-font-color-3);
}
/* 背景容器的标题字体 */
.kungalgame-background-container span {
  height: 30px;
  /* 居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 背景图片略缩图三行三列 grid */
.kungalgame-reset-bg {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 50px);
  color: var(--kungalgame-font-color-3);
  position: relative;
  /* 距离下方区域的距离 */
  margin-bottom: 17px;
}
/* 单个图片居中 */
.kungalgame-reset-bg li {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 单个图片的距离 */
.kungalgame-reset-bg img{
  width: 70px;
}
/* 图片的 hover */
.kungalgame-reset-bg img:hover {
  width: 200px;
  transition: 0.2s;
  z-index: 7;
}
.kungalgamer-bg {
  display: flex;
  flex-direction: column;
}
/* url 的粘贴框 */
.bg-url-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-url-input input {
  height: 25px;
  border: 1px solid var(--kungalgame-blue-4);
}
/* 粘贴框的 focus */
.bg-url-input input:focus {
  outline: none;
  background-color: var(--kungalgame-trans-red-0);
}
/* 确定按钮 */
.bg-url-input button {
  padding: 0 10px;
  height: 27px;
  box-sizing: border-box;
  border: 1px solid var(--kungalgame-blue-4);
  border-left: none;
  background-color: var(--kungalgame-trans-white-5);
  cursor: pointer;
}
/* 确定按钮的 hover */
.bg-url-input button:hover {
  background-color: var(--kungalgame-trans-blue-0);
}
/* 确定按钮的 active */
.bg-url-input button:active {
  background-color: var(--kungalgame-trans-red-3);
}
/* 
----------------------------------
|
|左侧的中部
|
----------------------------------
*/
/* 侧边栏动态推送帖子的总容器 */
.top-topic-wrap {
  width: 100%;
  height: 1px;
  /* 设置今日热门帖子占侧边栏的比例 */
  flex-grow: 12.5;
  /* 热门帖子距离最新帖子的距离 */
  margin-bottom: 5px;
  /* 今日热门帖子区域为竖直弹性盒 */
  display: flex;
  flex-direction: column;
}
.top-topic-title-name,
.top-topic-content {
  width: 100%;
  height: 1px;
}
/* “今日热门话题”六个字的样式 */
.top-topic-title-name {
  /* 设置盒子的 border 在内侧显示 */
  box-sizing: border-box;
  border: 3px dashed var(--kungalgame-trans-blue-1);
  border-bottom: none;
  /* 设置（今日热门话题）居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 设置（今日热门话题占整个热门区域的宽度） */
  flex-grow: 1;
  color: var(--kungalgame-font-color-3);
  /* 设置页面缩小到最小时该行不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 展示热门帖子标题的区域 */
.top-topic-content {
  background-color: var(--kungalgame-trans-blue-1);
  /* 热门帖子标题区域占整个左侧页面中部的比例 */
  flex-grow: 10;
  /* 热门帖子标题部分为弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 单个热门帖子的样式 */
.hot-topic {
  display: flex;
  /* 设置空白左右居中 */
  justify-content: space-between;
  /* 设置每个帖子高度相等 */
  flex-grow: 1;
  color: var(--kungalgame-font-color-3);
  align-items: center;
  cursor: pointer;
}
/* 单个热门帖子的 hover */
.hot-topic:hover {
  box-shadow: -2px -2px 5px var(--kungalgame-white), 2px 2px 5px var(--kungalgame-gray-3);
}
.hot-topic:active {
  box-shadow: inset 1px 1px 2px var(--kungalgame-gray-3), inset -1px -1px 2px var(--kungalgame-white);
}
/* 单个帖子的标题样式 */
.top-topic-title {
  /* 单个帖子标题左侧的一段距离 */
  padding-left: 10px;
  /* 设置页面变化时不换行，显示省略号 */
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 设置帖子的字体大小 */
  font-size: smaller;
}
/* 设置单个帖子右侧的热度值盒子 */
.top-topic-number {
  /* 热度值距离右侧的距离 */
  margin-right: 10px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.top-topic-number i {
  /* 设置 fa 图标字体的颜色 */
  color: var(--kungalgame-red-4);
}
.top-topic-number span {
  width: 38px;
  font-size: small;
  margin-left: 5px;
}
/* 
----------------------------------
|
|左侧的下部
|
----------------------------------
*/
/* 最新话题 */
.new-topic-wrap {
  width: 100%;
  height: 1px;
  /* 设置今日热门帖子占侧边栏的比例 */
  flex-grow: 12.5;
  /* 今日热门帖子区域为竖直弹性盒 */
  display: flex;
  flex-direction: column;
}
.new-topic-title-name,
.new-topic-content {
  width: 100%;
  height: 1px;
}
.new-topic-title-name {
  /* 设置盒子的 border 在内侧显示 */
  box-sizing: border-box;
  border: 3px dashed var(--kungalgame-trans-pink-1);
  border-bottom: none;
  /* 设置（今日热门话题）居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 设置（今日热门话题占整个热门区域的宽度） */
  flex-grow: 1;
  color: var(--kungalgame-font-color-3);
  /* 设置页面缩小到最小时该行不换行 */
  overflow: hidden;
  white-space: nowrap;
}
.new-topic-content {
  background-color: var(--kungalgame-trans-pink-1);
  /* 热门帖子标题区域占整个左侧页面中部的比例 */
  flex-grow: 10;
  /* 热门帖子标题部分为弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 单个新帖子的样式 */
.new-topic {
  display: flex;
  /* 设置空白左右居中 */
  justify-content: space-between;
  /* 设置每个帖子高度相等 */
  flex-grow: 1;
  color: var(--kungalgame-font-color-3);
  align-items: center;
  cursor: pointer;
}
/* 单个新帖子的 hover */
.new-topic:hover {
  box-shadow: -2px -2px 5px var(--kungalgame-white), 2px 2px 5px var(--kungalgame-gray-3);
}
.new-topic:active {
  box-shadow: inset 1px 1px 2px var(--kungalgame-gray-3), inset -1px -1px 2px var(--kungalgame-white);
}
/* 单个帖子的标题样式 */
.new-topic-title {
  /* 单个帖子标题左侧的一段距离 */
  padding-left: 10px;
  /* 设置页面变化时不换行，显示省略号 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 设置帖子的字体大小 */
  font-size: smaller;
}
/* 设置单个帖子右侧的热度值盒子 */
.new-topic-number {
  /* 热度值距离右侧的距离 */
  margin-right: 10px;
  display: flex;
  /* 右侧热度区域不换行 */
  white-space: nowrap;
  align-items: center;
}
/* 时钟图标的颜色 */
.new-topic-number i {
  /* 设置 fa 图标字体的颜色 */
  color: var(--kungalgame-purple-4);
}
/* 右侧区域的大小 */
.new-topic-number span {
  width: 36px;
  font-size: xx-small;
  /* 右侧区域距离最右侧的距离 */
  margin-left: 5px;
}
/* 
----------------------------------
|
|右侧部分
|
----------------------------------
*/
/* 文章部分 */
.article {
  width: 1px;
  /* 文章区域相对于可视区域的占比 */
  flex-grow: 1;
  /* 文章区域高度 */
  height: 100%;
}
/* 文章容器 */
.article-container {
  /* 左侧文章区的总大小 */
  width: 100%;
  height: 100%;
  /* 盒子的边显示在内侧 */
  box-sizing: border-box;
  /* 文章区边上的颜色 */
  border: 1px solid var(--kungalgame-trans-blue-4);
  background-color: var(--kungalgame-trans-blue-0);
  border-radius: 5px;
  display: flex;
  /* 文章区所有组件居中 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
/* 
----------------------------------
|
|右侧顶部交互栏
|
----------------------------------
*/
/* 文章顶部交互栏 */
.nav-article {
  width: 100%;
  height: 40px;
  /* 整体弹性 */
  display: flex;
  flex-shrink: 0;
}
/* 筛选、搜索帖子、更多 */
.nav-article-sort-container,
.nav-article-search-container,
.nav-article-more-topic {
  height: 100%;
  width: 1px;
  /* 居中弹性盒 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 页面缩小不换行 */
  white-space: nowrap;
}
/* 筛选 */
.nav-article-sort-container {
  /* 筛选按钮的颜色 */
  background-color: var(--kungalgame-trans-red-3);
  flex-grow: 1;
  border-radius: 5px 0 0 0;
  /* 相对于二级菜单的定位 */
  position: relative;
  border-bottom: 1px solid var(--kungalgame-trans-blue-4);
  box-sizing: border-box;
  cursor: pointer;
}
/* 筛选按钮的 hover */
.nav-article-sort-container:hover {
  background-color: var(--kungalgame-trans-white-2);
}
/* 二级菜单 */
.sort-container {
  /* 宽度 100% */
  width: 100%;
  /* 相对位置 100% */
  top: 100%;
  /* 对于相对定位的元素绝对定位 */
  position: absolute;
}
/* 二级菜单的容器 */
.sort-submenu {
  display: none;
  /* 竖直弹性盒 */
  flex-direction: column;
  /* 二级菜单的阴影 */
  box-shadow:1px 2px 1px 1px var(--kungalgame-trans-blue-4);
}
.nav-article-sort-container:hover .sort-submenu {
  display: flex;
}
/* 单个二级菜单的选项 */
.sort-submenu > div {
  padding: 10px 0;
  background-color: var(--kungalgame-trans-white-2);
  font-size: 14px;
  color: var(--kungalgame-font-color-3);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 单个二级菜单 hover */
.sort-submenu > div:hover {
  background-color: var(--kungalgame-red-1);
}
.sort-submenu > div:active {
  background-color: var(--kungalgame-red-2);
}
/* 二级菜单图标字体颜色 */
.sort-submenu > div i {
  color: var(--kungalgame-font-color-2);
  /* 图标距离文字的距离 */
  padding-right: 3px;
}
/* 搜索帖子 */
.nav-article-search-container {
  background-color: var(--kungalgame-trans-blue-2);
  flex-grow: 2;
  /* 相对于二级菜单定位 */
  position: relative;
  display: flex;
  border: 1px solid var(--kungalgame-trans-blue-4);
  box-sizing: border-box;
}
/* 中间搜索菜单的 hover */
.nav-article-search-container:hover {
  background-color: var(--kungalgame-trans-white-2);
}
/* 搜索框表单 */
.article-search-form {
  display: flex;
  height: 100%;
  /* 随着页面自增长 */
  width: 1px;
  flex-grow: 1;
  /* 居中 */
  justify-content: center;
  align-items: center;
}
/* 搜索内容区 */
.nav-search-content {
  width: 100%;
}
/* 框体 */
.nav-search-input {
  padding: 0 15px;
  height: 40px;
  width: 100%;
  /* 搜索时输入的字体大小 */
  font-size: 16px;
  border: none;
  background-color: var(--kungalgame-trans-white-9);
}
/* 提示文字“搜索帖子”的文字颜色 */
.nav-search-input::placeholder {
  color: var(--kungalgame-font-color-2);
}
/* 获取焦点后的框体 */
.nav-search-input:focus {
  outline: none;
}
/* 搜索按钮 */
.nav-search-btn {
  /* 正方形，不缩小 */
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  border-left: 1px solid var(--kungalgame-trans-blue-4);
  /* 搜索图标居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 内边距盒子 */
  box-sizing: border-box;
}
/* 搜索按钮的 hover */
.nav-search-btn:hover {
  background-color: var(--kungalgame-red-2);
}
/* 搜索按钮的 active */
.nav-search-btn:active {
  background-color: var(--kungalgame-red-3);
}
/* 搜索历史的容器 */
.article-search-history {
  width: 100%;
  /* 相对于 nav 的搜索区域绝对定位 */
  position: absolute;
  /* 紧贴搜索区定位 */
  top: 40px;
  left: 0;
  /* 无 hover 时不显示搜索历史 */
  display: none;
  flex-direction: column;
  background-color: var(--kungalgame-trans-white-2);
  color: var(--kungalgame-font-color-3);
  border: 1px solid var(--kungalgame-red-1);
  border-radius: 7px;
  box-shadow: 0 1px 6px var(--kungalgame-gray-2);
}
/* hover 时显示搜索历史 */
.nav-article-search-container:hover .article-search-history {
  display: flex;
}
/* 搜索历史 title 的文字 */
.search-history-title {
  display: flex;
  margin: 10px;
  /* 两个提示文字左右分布 */
  justify-content: space-between;
}
.search-history-title span {
  font-size: 14px;
}
.search-history-title span:nth-child(2) {
  cursor: pointer;
  border-bottom: 1.5px solid var(--kungalgame-trans-white-2);
}
.search-history-title span:nth-child(2):hover {
  border-bottom: 1.5px solid var(--kungalgame-blue-4);
}
/* 搜索历史 TAG 的存放容器 */
.search-history-container {
  display: flex;
  flex-direction: column;
  /* 单个搜索记录的字体 */
  font-size: 13px;
  /* 搜索记录左右两侧的空白距离 */
  margin: 10px;
}
/* 单个搜索历史 */
.search-history-container > div {
  padding: 7px 3px;
  margin: 2px 0;
  background-color: var(--kungalgame-trans-gray-1);
  cursor: pointer;
}
/* 单个搜索历史的 hover */
.search-history-container > div:hover {
  background-color: var(--kungalgame-trans-blue-1);
}
/* 单个搜索按钮 hover 时显示删除按钮 */
.search-history-container > div:hover i {
  display: block;
}
/* 单个搜索历史 */
.search-history-container span {
  position: relative;
  display: flex;
  overflow: hidden;
}
/* 删除按钮 */
.search-history-container i {
  top: 10%;
  right: 1%;
  position: absolute;
  color: var(--kungalgame-font-color-0);
  display: none;
}
/* 更多 */
.nav-article-more-topic {
  background-color: var(--kungalgame-trans-purple-3);
  flex-grow: 1;
  border-radius: 0 5px 0 0;
  cursor: pointer;
  border-bottom: 1px solid var(--kungalgame-trans-blue-4);
  box-sizing: border-box;
}
.nav-article-more-topic:hover {
  background-color: var(--kungalgame-trans-white-2);
}
.nav-article-more-topic:active {
  background-color: var(--kungalgame-trans-red-3);
}
/* 
----------------------------------
|
|右侧文章区域
|
----------------------------------
*/
/* 帖子区容器 */
.topic-container {
  /* 帖子区域占文章总区域的宽度 */
  width: 98%;
  min-height: 1150px;
  overflow-y: scroll;
  /* 所有帖子的总区域占左侧页面的下边距 */
  margin: 5px 0;
  /* 帖子区域弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 帖子区滚动条 */
.topic-container::-webkit-scrollbar {
  display: inline;
  width: 4px;
  height: 0;
  background-color: var(--kungalgame-red-2);
  border-radius: 2px;
}
.topic-container::-webkit-scrollbar-thumb {
  background: var(--kungalgame-blue-4);
  border-radius: 2px;
}
/* 单个帖子 */
.topic {
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  border-radius: 3px;
  background-color: var(--kungalgame-trans-white-4);
  margin-bottom: 3px;
  /* 单个帖子横向弹性盒 */
  display: flex;
}
.topic:hover {
  background-color: var(--kungalgame-trans-white-1);
  transition: .2s;
}
.topic:last-child {
  /* 最后一个帖子的没有下边距 */
  margin-bottom: 0;
}
/* 发帖人信息 */
.kungalgamer-topic-info {
  width: 70px;
  height: 100%;
  /* 单个帖子左右两部分发布人信息和帖子概览均为竖向弹性盒 */
  display: flex;
  flex-direction: column;
  /* 发帖人信息距离帖子概览的距离 */
  margin: 0 5px;
}
.kungalgamer-topic-avatar,
.kungalgamer-name {
  width: 100%;
  height: 1px;
}
/* 头像图片容器设置 */
.kungalgamer-topic-avatar {
  /* 头像部分占发布人信息区域的比例 */
  flex-grow: 3;
  display: flex;
  justify-content: center;
}
.kungalgamer-topic-avatar a {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
/* 头像图片样式设置 */
.kungalgamer-topic-avatar img {
  padding: 2px;
  border-radius: 50%;
  /* 页面缩小时头像缩小 */
  display: inline-block;
}
/* 发帖人昵称位置设置 */
.kungalgamer-name {
  border-top: 1px solid var(--kungalgame-gray-2);
  flex-grow: 1;
  display: flex;
}
.kungalgamer-name a {
  display: flex;
  width: 1px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
/* 发帖人昵称样式设置 */
.kungalgamer-name span {
  /* 页面缩小时省略不换行 */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* 颜色和字体大小 */
  color: var(--kungalgame-font-color-3);
  font-size: x-small;
}
/* 帖子信息 */
.topic-info {
  width: 1px;
  height: 100%;
  /* 单个帖子左右两部分发布人信息和帖子概览均为竖向弹性盒 */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* 帖子的概览信息 */
.topic-summary,
.topic-introduction {
  width: 100%;
  height: 1px;
}
/* 帖子展示的头部 */
.topic-summary {
  flex-grow: 1;
  /* 头部三个小部分为弹性盒 */
  display: flex;
  justify-content: space-between;
}
/* 帖子的头部信息，标题日期等 */
.topic-title {
  height: 100%;
  width: 1px;
}
/* 发帖标题 */
.topic-title {
  flex-grow: 5;
  /* 超出不换行省略 */
  display: flex;
  align-items: center;
}
/* 设置标题容器不换行显示省略号 */
.topic-title-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 帖子标题的字体颜色 */
.topic-title span {
  color: var(--kungalgame-font-color-3);
  font-weight: 500;
}
/* 帖子点赞数等信息 */
.topic-status {
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
/* 设置点赞、评论、查看字体和位置 */
.topic-status ul {
  display: flex;
  color: var(--kungalgame-gray-7);
  font-size: smaller;
}
/* 点赞、评论、查看之间的距离 */
.topic-status ul li {
  margin-left: 5px;
}
/* 点赞 - 图标字体距离数字的距离 */
.topic-status ul li i {
  margin-right: 1px;
}
/* 发帖日期 */
.topic-post-date {
  width: 45px;
  font-size: x-small;
  color: var(--kungalgame-gray-4);
  /* 居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 帖子的预览介绍 */
.topic-introduction {
  flex-grow: 2;
  display: flex;
  align-items: center;
}
/* 文本域盒子 */
.topic-introduction-text {
  width: 100%;
  /* 设置文本超过两行就显示省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
/* 发帖预览信息的字体 */
.topic-introduction-text p {
  font-size: 14px;
  color: var(--kungalgame-font-color-2);
}
