/* 主体部分配置 */
.main {
  width: 100%;
  height: 1px;
  flex-grow: 21;
  /* 背景图片 */
  /*   background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 可视内容部分宽度 */
.content-container {
  width: 61.8%;
  /* 可视页面的最小宽度 */
  min-width: 700px;
  /* 盒子边线在内部，页面缩小到最小时右侧不留白 */
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  /* 设置可视内容区不覆盖顶部 shadow */
  margin-top: 5px;
  /* 可视内容区为弹性盒 */
  display: flex;
  /* 可视内容区居中 */
  align-items: center;
  /* 设置背景毛玻璃效果 */
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  /* 设置背景边框和圆角 */
  border-radius: 5px;
  padding: 5px;
}
/* 
----------------------------------
|
|整个左侧区域
|
----------------------------------
*/
/* 侧边栏部分 */
.aside {
  /* 侧边栏距离文章区域的距离 */
  margin-right: 5px;
  width: 240px;
  /* 侧边栏相对于整体可视部分的占比 */
  /* 侧边栏高度 */
  height: 100%;
  /* 设置侧边栏为弹性盒子 */
  display: flex;
  /* 方向为竖向 */
  flex-direction: column;
}
/* 
----------------------------------
|
|左侧的上部
|
----------------------------------
*/
/* 侧边栏交互 */
.nav-aside {
  width: 100%;
  height: 1px;
  /* 折叠区相当于侧边栏的占比 */
  flex-grow: 1;
  /* 内容居中（折叠左侧区域） */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* 字体设置 */
  font-size: small;
  color: rgb(77, 77, 77);
  /* 页面缩小到最小时不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 侧边栏功能区 */
.item-box {
  width: 100%;
  height: 1px;
  /* 功能区相对于侧边栏的占比 */
  flex-grow: 6;
  /* 设置六个功能（模式、排行、背景等）分布的弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 发布帖子 */
.new-article {
  width: 100%;
  /* 发布帖子的按钮相对于功能区盒子的占比 */
  flex-grow: 2;
}
/* 发布按钮样式 */
.new-article button {
  height: 100%;
  width: 100%;
  background-color: rgb(254, 240, 240);
  border: 1px solid rgb(247, 137, 137);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(247, 137, 137);
  font-weight: bold;
  font-size: larger;
  /* 页面缩小到最小时不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 发布按钮 hover 效果 */
.new-article button:hover {
  background-color: rgb(247, 137, 137);
  color: rgb(254, 240, 240);
  /* 效果过渡时长 */
  transition: 0.3s;
}
/* 功能区容器 */
.item-box-container {
  width: 100%;
  /* 设置六个功能（模式、排行、背景等）的容器为弹性 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #676767;
  font-size: small;
  font-weight: bold;
}
/* 六个功能之间的距离 */
.item-box-container div {
  /* 设置六个功能（模式、排行、背景等）之间的间距 */
  padding: 10px;
}
/* 设置六个功能（模式、排行、背景等）的 hover */
.item-box-container .function:hover {
  color: rgb(33, 33, 33);
  background-color: rgba(254, 240, 240, 0.3);
  cursor: pointer;
}
/* 
----------------------------------
|
|左侧的中部
|
----------------------------------
*/
/* 侧边栏动态推送帖子的总容器 */
.top-topic-wrap {
  width: 100%;
  height: 1px;
  /* 设置今日热门帖子占侧边栏的比例 */
  flex-grow: 12.5;
  /* 热门帖子距离最新帖子的距离 */
  margin-bottom: 5px;
  /* 今日热门帖子区域为竖直弹性盒 */
  display: flex;
  flex-direction: column;
}
.top-topic-title-name,
.top-topic-content {
  width: 100%;
  height: 1px;
}
/* “今日热门话题”六个字的样式 */
.top-topic-title-name {
  /* 设置盒子的 border 在内侧显示 */
  box-sizing: border-box;
  border: 3px dashed rgba(216, 238, 255, 0.5);
  border-bottom: none;
  /* 设置（今日热门话题）居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 设置（今日热门话题占整个热门区域的宽度） */
  flex-grow: 1;
  color: rgb(77, 77, 77);
  /* 设置页面缩小到最小时该行不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 展示热门帖子标题的区域 */
.top-topic-content {
  background-color: rgba(216, 238, 255, 0.5);
  /* 热门帖子标题区域占整个左侧页面中部的比例 */
  flex-grow: 10;
  /* 热门帖子标题部分为弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 单个热门帖子的样式 */
.hot-topic {
  display: flex;
  /* 设置空白左右居中 */
  justify-content: space-between;
  /* 设置每个帖子高度相等 */
  flex-grow: 1;
  color: rgb(77, 77, 77);
  align-items: center;
}
/* 单个帖子的标题样式 */
.top-topic-title {
  /* 单个帖子标题左侧的一段距离 */
  padding-left: 10px;
  /* 设置页面变化时不换行，显示省略号 */
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 设置帖子的字体大小 */
  font-size: smaller;
}
/* 设置单个帖子右侧的热度值盒子 */
.top-topic-number {
  /* 热度值距离右侧的距离 */
  margin-right: 10px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.top-topic-number i {
  /* 设置 fa 图标字体的颜色 */
  color: rgb(219, 120, 115);
}
.top-topic-number span {
  width: 38px;
  font-size: small;
  margin-left: 5px;
}
/* 
----------------------------------
|
|左侧的下部
|
----------------------------------
*/
/* 最新话题 */
.new-topic-wrap {
  width: 100%;
  height: 1px;
  /* 设置今日热门帖子占侧边栏的比例 */
  flex-grow: 12.5;
  /* 今日热门帖子区域为竖直弹性盒 */
  display: flex;
  flex-direction: column;
}
.new-topic-title-name,
.new-topic-content {
  width: 100%;
  height: 1px;
}
.new-topic-title-name {
  /* 设置盒子的 border 在内侧显示 */
  box-sizing: border-box;
  border: 3px dashed rgba(255, 237, 255, 0.5);
  border-bottom: none;
  /* 设置（今日热门话题）居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 设置（今日热门话题占整个热门区域的宽度） */
  flex-grow: 1;
  color: rgb(77, 77, 77);
  /* 设置页面缩小到最小时该行不换行 */
  overflow: hidden;
  white-space: nowrap;
}
.new-topic-content {
  background-color: rgba(255, 237, 255, 0.5);
  /* 热门帖子标题区域占整个左侧页面中部的比例 */
  flex-grow: 10;
  /* 热门帖子标题部分为弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 单个新帖子的样式 */
.new-topic {
  display: flex;
  /* 设置空白左右居中 */
  justify-content: space-between;
  /* 设置每个帖子高度相等 */
  flex-grow: 1;
  color: rgb(77, 77, 77);
  align-items: center;
}
/* 单个帖子的标题样式 */
.new-topic-title {
  /* 单个帖子标题左侧的一段距离 */
  padding-left: 10px;
  /* 设置页面变化时不换行，显示省略号 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 设置帖子的字体大小 */
  font-size: smaller;
}
/* 设置单个帖子右侧的热度值盒子 */
.new-topic-number {
  /* 热度值距离右侧的距离 */
  margin-right: 10px;
  display: flex;
  /* 右侧热度区域不换行 */
  white-space: nowrap;
  align-items: center;
}
/* 时钟图标的颜色 */
.new-topic-number i {
  /* 设置 fa 图标字体的颜色 */
  color: rgb(174, 115, 219);
}
/* 右侧区域的大小 */
.new-topic-number span {
  width: 36px;
  font-size: xx-small;
  /* 右侧区域距离最右侧的距离 */
  margin-left: 5px;
}
/* 
----------------------------------
|
|右侧部分
|
----------------------------------
*/
/* 文章部分 */
.article {
  width: 1px;
  /* 文章区域相对于可视区域的占比 */
  flex-grow: 1;
  /* 文章区域高度 */
  height: 100%;
}
/* 文章容器 */
.article-container {
  /* 左侧文章区的总大小 */
  width: 100%;
  height: 100%;
  /* 盒子的边显示在内侧 */
  box-sizing: border-box;
  /* 文章区边上的颜色 */
  border: 1px solid rgb(225, 225, 225);
  background-color: rgba(187, 240, 255, 0.2);
  border-radius: 5px;
  display: flex;
  /* 文章区所有组件居中 */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
----------------------------------
|
|右侧顶部交互栏
|
----------------------------------
*/
/* 文章顶部交互栏 */
.nav-article {
  width: 100%;
  height: 1px;
  /* 交互栏相对于整个文章区域的占比 */
  flex-grow: 1;
  /* 设置交互栏的下边距 */
  margin-bottom: 5px;
  /* 整体弹性 */
  display: flex;
}
/* 筛选、搜索帖子、更多 */
.nav-article-sort-container,
.nav-article-search-container,
.nav-article-more-topic {
  height: 100%;
  width: 1px;
  /* 居中弹性盒 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 页面缩小不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 筛选 */
.nav-article-sort-container {
  background-color: pink;
  flex-grow: 1;
  border-radius: 5px 0 0 0;
}
/* 搜索帖子 */
.nav-article-search-container {
  background-color: paleturquoise;
  flex-grow: 2;
}
/* 更多 */
.nav-article-more-topic {
  background-color: rgb(224, 178, 255);
  flex-grow: 1;
  border-radius: 0 5px 0 0;
}
/* 
----------------------------------
|
|右侧文章区域
|
----------------------------------
*/
/* 帖子区容器 */
.topic-container {
  /* 帖子区域占文章总区域的宽度 */
  width: 98%;
  height: 1px;
  /* 帖子区域占文章总区域的比例 */
  flex-grow: 30;
  /* 所有帖子的总区域占左侧页面的下边距 */
  margin-bottom: 5px;
  /* 帖子区域弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 单个帖子 */
.topic {
  width: 100%;
  height: 1px;
  flex-grow: 1;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 3px;
  /* 单个帖子横向弹性盒 */
  display: flex;
}
.topic:last-child {
  /* 最后一个帖子的没有下边距 */
  margin-bottom: 0;
}
/* 发布者信息 */
.kungalgamer-topic-info,
.topic-info {
  width: 1px;
  height: 100%;
  /* 单个帖子左右两部分发布人信息和帖子概览均为竖向弹性盒 */
  display: flex;
  flex-direction: column;
}
/* 发帖人信息 */
.kungalgamer-topic-info {
  /* 发帖人信息距离帖子概览的距离 */
  margin: 0 5px;
  flex-grow: 1;
}
.kungalgamer-topic-avatar,
.kungalgamer-name {
  width: 100%;
  height: 1px;
}
/* 头像图片容器设置 */
.kungalgamer-topic-avatar {
  /* 头像部分占发布人信息区域的比例 */
  flex-grow: 3;
  display: flex;
  justify-content: center;
}
.kungalgamer-topic-avatar a {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
/* 头像图片样式设置 */
.kungalgamer-topic-avatar img {
  padding: 2px;
  border-radius: 50%;
  /* 页面缩小时头像缩小 */
  display: inline-block;
}
/* 发帖人昵称位置设置 */
.kungalgamer-name {
  border-top: 1px solid #d5d5d5;
  flex-grow: 1;
  display: flex;
}
.kungalgamer-name a {
  display: flex;
  width: 1px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
/* 发帖人昵称样式设置 */
.kungalgamer-name span {
  /* 页面缩小时省略不换行 */
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* 颜色和字体大小 */
  color: #414141;
  font-size: x-small;
}
/* 帖子信息 */
.topic-info {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
}
/* 帖子的概览信息 */
.topic-summary,
.topic-introduction {
  width: 100%;
  height: 1px;
}
/* 帖子展示的头部 */
.topic-summary {
  flex-grow: 1;
  /* 头部三个小部分为弹性盒 */
  display: flex;
  justify-content: space-between;
}
/* 帖子的头部信息，标题日期等 */
.topic-title,
.topic-post-date,
.topic-status {
  height: 100%;
  width: 1px;
}
/* 发帖标题 */
.topic-title {
  flex-grow: 5;
  margin-left: 10px;
  /* 超出不换行省略 */
  display: flex;
  align-items: center;
}
/* 设置标题容器不换行显示省略号 */
.topic-title-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 帖子标题的字体颜色 */
.topic-title span {
  color: rgb(77, 77, 77);
  font-weight: 500;
}
/* 帖子点赞数等信息 */
.topic-status {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
/* 设置点赞、评论、查看字体和位置 */
.topic-status ul {
  display: flex;
  color: rgb(153, 153, 153);
  font-size: smaller;
}
/* 点赞、评论、查看之间的距离 */
.topic-status ul li {
  margin-left: 5px;
}
/* 点赞 - 图标字体距离数字的距离 */
.topic-status ul li i {
  margin-right: 1px;
}
/* 发帖日期 */
.topic-post-date {
  flex-grow: 1;
  font-size: x-small;
  color: rgb(153, 153, 153);
  /* 居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 不换行 */
  overflow: hidden;
  white-space: nowrap;
  /* 距离状态的横线 */
  border-left: 2px dotted #c8c8c8;
}
/* 帖子的预览介绍 */
.topic-introduction {
  flex-grow: 2;
  display: flex;
  align-items: center;
  /* 文本区域距离发帖人信息的距离 */
  margin-left: 10px;
}
/* 文本域盒子 */
.topic-introduction-text {
  width: 95%;
  /* 设置文本超过两行就显示省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
/* 发帖预览信息的字体 */
.topic-introduction-text p {
  font-size: small;
  color: #414141;
}
