@import url(../../css/color.css);
.root {
  height: 100vh;
  width: 100vw;
  min-width: 500px;
  min-height: 500px;
  background: linear-gradient(
    var(--kungalgame-trans-pink-1),
    var(--kungalgame-trans-blue-1)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  /* 固定宽高 */
  width: 400px;
  height: 300px;
  /* 居中 */
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--kungalgame-trans-blue-0);
  box-shadow: var(--kungalgame-shadow-0);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  border-radius: 7px;
}
.container:hover {
  box-shadow: var(--kungalgame-shadow-1);
  transition: 0.3s;
}
.title {
  /* 固定高度 */
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 距离下一个项目的距离 */
  margin-bottom: 30px;
  font-size: 30px;
}
.warning span {
  color: var(--kungalgame-red-5);
}
.btn {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.btn > div {
  padding: 7px 10px;
}
.btn > div:nth-child(1) {
  background-color: var(--kungalgame-trans-red-0);
  color: var(--kungalgame-red-5);
  border: 1px solid var(--kungalgame-red-4);
  cursor: pointer;
}
.btn > div:nth-child(1):hover {
  background-color: var(--kungalgame-red-1);
}
.btn > div:nth-child(2) {
  background-color: var(--kungalgame-trans-blue-1);
  color: var(--kungalgame-blue-5);
  border: 1px solid var(--kungalgame-blue-4);
  cursor: pointer;
}
.btn > div:nth-child(2):hover {
  background-color: var(--kungalgame-trans-blue-2);
}
.copyright {
  position: absolute;
  bottom: 1%;
  white-space: nowrap;
}
