@import url(../../css/color.css);
/* 编辑器的样式 */
#editor—wrapper {
  /* 编辑器的 border */
  border: 1px solid var(--kungalgame-blue-4);
  box-sizing: border-box;
  /* 编辑器的宽度 */
  width: 75vw;
  margin: 0 auto;
  z-index: 100; /* 按需定义 */
}
#toolbar-container {
  border-bottom: 1px solid var(--kungalgame-blue-4);
}
/* 编辑器编辑部分 */
#editor-container {
  height: 500px;
}
/* 内容部分的总容器 */
.container {
  width: 77vw;
  margin: auto;
  /* 距离顶部 header 的距离 */
  margin-top: 7px;
  /* 容器的阴影 */
  box-shadow: var(--shadow);
  background-color: var(--kungalgame-trans-white-2);
  color: var(--kungalgame-font-color-3);
}
/* 容器的顶部 */
.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 顶部的固定高度 */
  height: 90px;
}
/* 帖子的发布标题 */
.topic-title {
  width: 75vw;
}
/* 帖子标题的输入框 */
.topic-title input {
  color: var(--kungalgame-font-color-2);
  /* 距离外轮廓的距离 */
  padding: 7px;
  /* 内边距盒子 */
  box-sizing: border-box;
  width: 100%;
  /* 标题输入字体大小 */
  font-size: 40px;
  border: 1px solid var(--kungalgame-blue-4);
  background-color: var(--kungalgame-trans-white-9);
}
/* 标题输入框 focus 之后的样式 */
.topic-title input:focus {
  box-shadow: 0px 0px 5px var(--kungalgame-blue-4);
}
/* 内容区的底部样式 */
.content-footer{
  /* 固定高度 */
  height: 177px;
  /* 距离内容区的距离 */
  margin-top: 17px;
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
}
/* 标签的总容器 */
.tags-container {
  flex-grow: 1;
}
/* 标签输入框 */
.tags-container input {
  background-color: var(--kungalgame-trans-white-9);
  /* 输入标签的字体 */
  font-size: 17px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--kungalgame-blue-4);
  padding: 5px;
}
/* 标签输入框 focus */
.tags-container input:focus {
  box-shadow: 0px 0px 3px var(--kungalgame-blue-4);
}
/* 单个标签容器 */
.tags {
  margin-top: 17px;
}
/* 标签的提示词 */
.tags div {
  margin-bottom: 7px;
}
/* 单个标签的样式 */
.tags > span {
  font-size: 14px;
  padding: 3px;
  background-color: var(--kungalgame-trans-blue-1);
  cursor: pointer;
}
.tags > span:hover {
  background-color: var(--kungalgame-trans-red-1);
}
/* 按钮的容器 */
.btn-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 距离最底端的距离 */
  margin-bottom: 10px;
}
/* 单个按钮的样式 */
.btn-container button {
  height: 40px;
  width: 27%;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
/* 确认按钮的样式 */
.confirm-btn {
  color: var(--kungalgame-blue-4);
  background-color: var(--kungalgame-trans-blue-1);
  border: 1px solid var(--kungalgame-blue-4);
}
.confirm-btn:hover {
  color: var(--kungalgame-trans-white-1);
  background-color: var(--kungalgame-blue-4);
  transition: .1s;
}
.confirm-btn:active {
  background-color: var(--kungalgame-red-4);
  border: 1px solid var(--kungalgame-red-4);
  font-size: 17px;
}
/* 保存按钮的样式 */
.save-btn {
  color: var(--kungalgame-orange-4);
  background-color: var(--kungalgame-trans-orange-1);
  border: 1px solid var(--kungalgame-orange-4);
}
.save-btn:hover {
  color: var(--kungalgame-trans-white-1);
  background-color: var(--kungalgame-orange-4);
  transition: .1s;
}
.save-btn:active {
  background-color: var(--kungalgame-trans-orange-1);
  color: var(--kungalgame-orange-4);
}
/* 版权 */
.copyright {
  margin: 0 auto;
  margin-bottom: 17px;
}
