@import url(../../css/color.css);
/* 内容区容器 */
.content-container {
  background-color: var(--kungalgame-trans-white-2);
  border-radius: 7px;
  /* 固定高度 */
  height: 2500px;
  width: 90%;
  /* 居中 */
  margin: 0 auto;
  margin-top: 17px;
  padding: 7px;
  /* 相对于版权定位 */
  position: relative;
}
/* 内容区 */
.content {
  height: 100%;
  border: 1px solid var(--kungalgame-blue-4);
  border-radius: 7px;
  display: flex;
  box-shadow: var(--shadow);
}
/* 侧边的文章结构索引 */
.aside {
  width: 122px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid var(--kungalgame-blue-4);
}
/* 侧边的标题 */
.aside > div {
  /* 固定高度 */
  height: 50px;
  /* 字体设置 */
  font-size: 17px;
  font-weight: bold;
  /* 居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 侧边总体的列表 */
.aside > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 侧边的单个项目 */
.aside > ul li {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* 单个项目的 hover */
.aside > ul li:hover {
  background-color: var(--kungalgame-trans-blue-2);
}
/* 文章区距离侧边的距离 */
.article {
  width: 100%;
  margin-left: 30px;
}
/* 网站标题的字体颜色 */
h1,
h2,
h3,
p,
.list {
  color: var(--kungalgame-font-color-2);
}
/* da标题的字体 */
h1 {
  margin-right: 30px;
  margin-top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin-top: 77px;
  margin-bottom: 30px;
  border-left: 4px solid var(--kungalgame-blue-4);
  text-indent: 1em;
}
h3 {
  text-indent: 2em;
  margin-bottom: 30px;
  margin-top: 20px;
}
p {
  text-indent: 3em;
  margin: 5px;
}
/* 被划出来的链接字体 */
p > span,
.skip {
  border-bottom: 1px solid var(--kungalgame-blue-4);
  cursor: pointer;
  color: var(--kungalgame-blue-4);
}
.list > li {
  list-style: inside;
  text-indent: 4em;
}
/* 版权 */
.copyright {
  width: 100%;
  position: absolute;
  bottom: 1%;
  display: flex;
  justify-content: center;
}
