@import url(./color.css);
/* 帖子池容器 */
.pool-container {
  /* 最小高度 */
  min-height: 400px;
  /* 最大宽度 */
  max-width: 1450px;
  /* 占页面的宽度比例 */
  width: 90%;
  /* 居中 */
  margin: 0 auto;
  display: flex;
  /* 不收缩 */
  flex-shrink: 0;
  /* 竖直方向弹性盒 */
  flex-direction: column;
}
/* 帖子池顶部交互栏 */
.pool-nav-bar {
  /* 换行弹性盒 */
  display: flex;
  flex-wrap: wrap;
  /* 居中 */
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
/* 热门帖子标签 */
.nav-tags {
  /* 单个标签不换行 */
  white-space: nowrap;
  /* 距离其它帖子的距离 */
  font-size: 13px;
  margin: 1px;
  padding: 7px;
  background-color: #63b6ff;
  border-radius: 17px;
  cursor: pointer;
}
/* 帖子池内容区容器 */
.content-container {
  display: flex;
}
/* 帖子池单个帖子列容器 */
.single-topic-column-container {
  /* 根据页面宽度增长 */
  width: 1px;
  flex-grow: 1;
  /* 5 行的行距 */
  margin: 5px;
}
/* 帖子池单个帖子 */
.single-topic-container {
  /* 单个帖子距下方的距离 */
  margin-bottom: 7px;
  /* 竖直方向弹性布局 */
  display: flex;
  flex-direction: column;
  /* 圆角 */
  border-radius: 7px;
  background-color: azure;
  border: 1px solid black;
}
/* 帖子的标题 */
.topic-title {
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 居中 */
  margin: 0 auto;
  padding: 0 7px;
}
/* 帖子的内容区 */
.topic-content {
  /* 单个帖子的最大高度 */
  max-height: 700px;
  overflow: hidden;
  font-size: 14px;
  padding: 10px;
}
/* 帖子的状态 */
.topic-status {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
    /* 窗口缩小不换行 */
    overflow: hidden;
    flex-wrap: wrap;
}
.topic-post-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 窗口缩小不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 右侧的功能栏 */
.kungalgame-right-bar {
  /* 位置 fix */
  position: fixed;
  top: 70%;
  /* 距离右侧的距离 */
  right: 1%;
  z-index: 7;
  /* 居中 */
  display: flex;
}
/* 功能栏的左侧 */
.kungalgame-right-bar-left {
  position: absolute;
  white-space: nowrap;
  right: 50px;
  cursor: pointer;
  display: none;
  background-color: salmon;
  bottom: 0;
}
.kungalgame-right-bar-left > div {
  padding: 7px;
}
.kungalgame-right-bar-left > div:hover {
  background-color: cornflowerblue;
}
/* 排序 hover 出现 */
.kungalgame-right-bar .sort:hover .kungalgame-right-bar-left {
  display: block;
}
/* 图标字体的颜色 */
.kungalgame-right-bar-left i {
  margin-right: 10px;
  color: red;
}
/* 最后一个排序的样式 */
.kungalgame-right-bar-left div:last-child i {
  margin-right: 14px;
}
/* 右侧部分 */
.kungalgame-right-bar-right {
  position: relative;
}
/* 排序 */
.sort,
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  padding: 0 9px;
  background-color: aqua;
  cursor: pointer;
}
.top {
  margin-top: 14px;
}
.sort i,
.top i {
  margin-top: 5px;
  color: blue;
}
