:root {
  --shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
}
/* 顶部固定交互栏 */
.header {
  top: 0;
  flex-grow: 0;
  height: 58px;
  position: sticky;
  z-index: 1007;
    /* 设置可视区域内容不覆盖顶部 shadow */
    margin-bottom: 10px;
}
/* 下面帖子详情区的容器 */
.topic-wrapper {
  height: 1px;
  flex-grow: 1;
  display: flex;
}
/* 下方可视内容区的容器 */
.content-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  /* 设置背景的毛玻璃效果 */
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  /* 设置背景边框和圆角 */
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
/* 左侧内容区 */
.content-left-part {
  top: 73px;
  position: sticky;
  /* 左侧区域的总高度 */
  height: 1000px;
  /* 左侧区域宽度 */
  width: 250px;
  /* 左侧内容区为弹性盒，方便分成上下两部分 */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* ----------------------------------- */
/* 相同标签下的其它帖子 */
.same-tag-topic {
  height: 1px;
  flex-grow: 4;
  width: 100%;
  /* 上方区域的配色 */
  border: 1px solid rgba(165, 216, 255, 0.5);
  /* 隐藏溢出的颜色 */
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(216, 238, 255, 0.5);
  /* 左侧两个部分之间的距离 */
  margin-bottom: 17px;
  /* 盒子的阴影 */
  box-shadow: var(--shadow);
}
.same-tag-topic ul {
  height: 100%;
  /* 整体为一个无序列表，列表为弹性盒 */
  display: flex;
  flex-direction: column;
}
.same-tag-topic ul li {
  height: 1px;
  width: 100%;
  /* 每个项目相对于标题的占比 */
  flex-grow: 3;
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 设置左侧的 border 方便制作 hover */
  border-left: 4px solid transparent;
  /* 内边距盒子 */
  box-sizing: border-box;
}
/* 上方的 hover 效果 */
.same-tag-topic ul li:hover {
  border-left: 4px solid #f78989;
  background-color: rgba(216, 238, 255, 0.5);
  transition: 0.3s;
}
/* 单个标题的样式 */
.same-tag-topic ul li a {
  /* 左右两侧的距离 */
  margin: 0 17px;
  color: #4d4d4d;
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 标题的字体属性 */
  font-size: small;
  line-height: 1.5em;
  box-sizing: border-box;
}
/* 大标题（相同标签下的其它帖子）的样式 */
.same-tag-topic ul li:nth-child(1) {
  /* 左侧没有 border，没有 hover */
  border-left: 0;
  /* 相对于单个帖子标题的比例 */
  flex-grow: 2;
  line-height: 40px;
  font-size: 1.8ch;
  font-weight: bold;
  background-color: rgba(206, 234, 255, 0.5);
  /* 与单个帖子标题的分割线 */
  border-bottom: 1px solid rgba(165, 216, 255, 0.5);
  /* 水平居中 */
  justify-content: center;
}
/* ----------------------------------- */
/* 楼主的其它帖子 */
.master-other-topic {
  width: 100%;
  height: 1px;
  flex-grow: 4;
  /* 上方区域的配色 */
  border: 1px solid rgba(255, 162, 255, 0.5);
  /* 隐藏溢出的颜色 */
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(255, 237, 255, 0.5);
  box-shadow: var(--shadow);
}
.master-other-topic ul {
  height: 100%;
  /* 整体为一个无序列表，列表为弹性盒 */
  display: flex;
  flex-direction: column;
}
.master-other-topic ul li {
  height: 1px;
  width: 100%;
  /* 每个项目相对于标题的占比 */
  flex-grow: 3;
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 设置左侧的 border 方便制作 hover */
  border-left: 4px solid transparent;
  /* 内边距盒子 */
  box-sizing: border-box;
}
/* 上方的 hover 效果 */
.master-other-topic ul li:hover {
  border-left: 4px solid #86c2ff;
  background-color: rgba(255, 227, 255, 0.5);
  transition: 0.3s;
}
/* 单个标题的样式 */
.master-other-topic ul li a {
  /* 左右两侧的距离 */
  margin: 0 17px;
  color: #4d4d4d;
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 标题的字体属性 */
  font-size: small;
  line-height: 1.5em;
  box-sizing: border-box;
}
/* 大标题（相同标签下的其它帖子）的样式 */
.master-other-topic ul li:nth-child(1) {
  /* 左侧没有 border，没有 hover */
  border-left: 0;
  /* 相对于单个帖子标题的比例 */
  flex-grow: 2;
  line-height: 40px;
  font-size: 1.8ch;
  font-weight: bold;
  background-color: rgba(255, 216, 255, 0.5);
  /* 与单个帖子标题的分割线 */
  border-bottom: 1px solid rgba(255, 162, 255, 0.5);
  /* 水平居中 */
  justify-content: center;
}
/* 版权描述,版本号 */
.kungalgame-footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* 距离上面的距离 */
  margin-top: 17px;
  /* 文字间距 */
  letter-spacing: 1px;
}
/* ----------------------------------- */
/* 帖子详情页的交互 */
.topic-page-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* 左边第一个部分的边 */
  border: 1px solid rgba(255, 96, 96, 0.5);
  box-shadow: var(--shadow);
  border-radius: 5px;
  /* 距离顶部的距离 */
  margin-bottom: 17px;
  /* 隐藏溢出的边角 */
  overflow: hidden;
}
/* 两个列表的容器 */
.topic-page-nav-container {
  flex-grow: 1;
  display: flex;
  background-color: rgba(255, 255, 225, 0.5);
}
/* 两列的无序列表 */
.topic-page-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
}
.topic-page-nav ul:nth-child(1) {
  border-right: 1px dashed #d6caff;
  box-sizing: border-box;
}
/* 每个功能 */
.topic-page-nav ul li {
  padding: 0 11px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px dashed #d6caff;
  box-sizing: border-box;
  /* 页面变化时不换行 */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.topic-page-nav ul li i {
  margin-right: 4px;
  font-size: 17px;
}
/* 功能区 hover */
.topic-page-nav ul li::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background-color: rgba(255, 76, 76, 0.5);
  z-index: -1;
  transition: transform .3s ease;
}
.topic-page-nav ul:nth-child(1) li:nth-child(1):before {
  background-color: rgb(252, 0, 0);
}
.topic-page-nav ul li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ----------------------------------- */
/* 右侧内容区 */
.content-right-part {
  height: 100%;
  width: 1px;
  flex-grow: 4;
  /* 右侧内容区为弹性盒（用户可以一直向下滑） */
  display: flex;
  flex-direction: column;
  /* 右侧部分距离左侧的距离 */
  margin-left: 10px;
}
/* 楼主帖子容器 */
.master-topic-container {
  width: 100%;
  /* 楼主帖子最小高度 */
/*   TODO: */
  min-height: 400px;
  max-height: 700px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 楼主帖子距离其它人帖子的距离 */
  margin-bottom: 5px;
}
/* 楼主标志位置 */
.master-topic-floor {
  /* 标志在最左边 */
  margin-left: 100%;
  /* 定位 */
  margin-bottom: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 位于内容上方 */
  z-index: 1;
}
/* 楼主标志属性 */
.master-btn {
  border: none;
  /* 大小 */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(#f8d1ff, #cbedff);
  font-size: 37px;
  font-weight: bold;
  font-style: oblique;
  color: #ffd3d3;
  text-shadow: -1px 0 #0051ff, 0 -1px #0051ff, 1px 0 #0051ff, 0 1px #0051ff,
    1px 1px #111827, -1px -1px #111827, -1px 1px #111827, 1px -1px #111827,
    4px 2px 2px #db2777;
}

/* 楼主帖子内容区的容器 */
.master-topic-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
}
/* 楼主帖子头部 */
.master-topic-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
  font-size: 17px;
  border-bottom: 1px solid #4d4d4d;
  box-sizing: border-box;
}
/* 楼主帖子标题 */
.master-topic-title {
  font-size: 17px;
  font-weight: bold;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 文字不换行 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 楼主帖子内容区 */
.master-topic-content {
  width: 100%;
  height: 1px;
  flex-grow: 10;
  display: flex;
  flex-direction: column;
}
/* 内容区的顶部 */
.master-topic-content-top {
  width: 100%;
  height: 40px;
  display: flex;
  text-align: center;
  /* 时间和标签分居两侧 */
  justify-content: space-between;
  /* 下面的分割线 */
  border-bottom: 1px solid #4d4d4d;
  box-sizing: border-box;
}
/* 帖子的标签 */
.master-topic-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 图标字体 */
.master-topic-tags i {
  padding: 0 20px;
  color: #0080ff;
}
/* 单个标签的盒子 */
.master-topic-tags ul {
  display: flex;
}
/* 单个标签的样式 */
.master-topic-tags ul li {
  margin-left: 5px;
  font-size: small;
  padding: 2px;
  background-color: #f4f9ff;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
}
/* 发帖时间 */
.master-topic-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 窗口缩小不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 沙漏的样式 */
.master-topic-time i {
  padding: 0 10px;
  color: #ff004c;
}
/* 发帖时间的样式 */
.master-topic-time div {
  padding-right: 20px;
}
/* 内容区的中部 */
.master-topic-content-center {
  width: 100%;
  height: 1px;
  flex-grow: 1;
  display: flex;
  border-bottom: 1px solid #4d4d4d;
  box-sizing: border-box;
}
/* 内容区左侧楼主的信息 */
.master-topic-content-center-left {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
/* 楼主的头像 */
.master-avatar {
  margin-top: 17px;
}
/* 楼主的等级 */
.master-rank {
  font-size: 10px;
  position: absolute;
  margin-left: 90px;
}
/* 楼主的头像图片 */
.master-avatar img {
  width: 100px;
}
/* 楼主的名字 */
.master-name {
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
/* 楼主的萌萌点 */
.master-moemoepoint {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
/* 内容区右侧的帖子展示区 */
.master-topic-content-center-right {
  font-size: 15px;
}
/* 内容区的底部 */
.master-topic-content-bottom {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #4d4d4d;
}
/* 内容区域下方字体样式 */
.master-topic-content-bottom span {
  margin-right: 10px;
  font-size: 12px;
}
/* 楼主帖子底部 */
.master-topic-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 底部左侧部分（点赞、推贴、踩） */
.master-topic-footer-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 单个图标 */
.master-topic-footer-left ul li {
  margin-left: 10px;
}
.master-topic-footer-left ul li a {
  color: #4d4d4d;
}
/* 底部右侧部分（回复、评论、只看、编辑） */
.master-topic-footer-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.master-topic-footer-right ul li {
  margin-right: 10px;
}
.master-topic-footer-right ul li a {
  color: #4d4d4d;
}
/* ----------------------------------- */
/* 其它人的回帖 */
/* 每个人的帖子 */
.other-topic-container,
.other-topic-single-container {
  width: 100%;
  height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 其它人的楼层 */
.other-topic-floor {
  /* 标志在最左边 */
  margin-left: 100%;
  /* 定位 */
  margin-bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 位于内容上方 */
  z-index: 1;
}
/* 其他人的楼层样式 */
.other-btn {
  border: none;
  /* 大小 */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#f8d1ff, #cbedff);
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: #ffd3d3;
  text-shadow: -1px 0 #0051ff, 0 -1px #0051ff, 1px 0 #0051ff, 0 1px #0051ff,
    1px 1px #111827, -1px -1px #111827, -1px 1px #111827, 1px -1px #111827,
    4px 2px 2px #db2777;
}
/* 其他人帖子内容区容器 */
.other-topic-content-container {
  width: 100%;
  height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
}
/* 其它人回帖的内容区 */
.other-topic-content {
  width: 100%;
  height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* 其他人回帖的上部 */
.other-topic-content-top {
  display: flex;
  flex-grow: 1;
}
/* 其它人回帖的上部左侧区域 */
.other-topic-content-left {
  padding: 0 20px;
}
/* 其他人的头像 */
.other-avatar {
  margin-top: 17px;
}
/* 其他人的头像图片 */
.other-avatar img {
  width: 100px;
}
/* 其他人的等级 */
.other-rank {
  font-size: 10px;
  position: absolute;
  margin-left: 90px;
}
/* 其他人的名字 */
.other-name {
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
/* 其他人的萌萌点 */
.other-moemoepoint {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
/* 其它人回帖的上部右侧区域 */
.other-topic-content-right {
  display: flex;
  flex-direction: column;
}
/* 右侧的上部区域 */
.other-topic-content-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
/* 上部区域的左边 */
.other-topic-content-right-top-left {
  font-size: 17px;
}
/* 上部区域的右边 */
.other-topic-content-right-top-right {
  font-size: 15px;
}
.other-topic-content-right-top-right span {
  margin-right: 30px;
}
/* 右侧部分分文本 */
.other-topic-content-right-text {
  font-size: 15px;
}
/* 其他人回帖的下部 */
.other-topic-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4d4d4d;
}
/* 其他人回帖的下部分左侧 */
.other-topic-content-bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 单个标签的盒子 */
.other-topic-content-bottom-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 图标字体 */
.other-topic-content-bottom-left i {
  padding: 0 20px;
  color: #0080ff;
}
/* 单个标签的样式 */
.other-topic-content-bottom-left ul li {
  margin-left: 5px;
  font-size: small;
  padding: 2px;
  background-color: #f4f9ff;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
}
/* 其他人回帖的下部分右侧 */
.other-topic-content-bottom-right {
  margin-right: 20px;
}
/* 其他人回帖的时间 */
.other-topic-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 窗口缩小不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 沙漏的样式 */
.other-topic-time i {
  padding: 0 10px;
  color: #ff004c;
}
/* 发帖时间的样式 */
.other-topic-time div {
  padding-right: 20px;
}
/* 其它人回帖的底部 */
.other-topic-footer {
  display: flex;
  flex-direction: column;
}
/* 顶部的点赞、推贴等 */
.other-topic-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
/* 点赞、推贴、踩 */
.other-topic-footer-top-left {
}
.other-topic-footer-top-left ul {
  display: flex;
}
.other-topic-footer-top-left ul li {
  margin-left: 10px;
}
.other-topic-footer-top-left ul li a {
  color: #4d4d4d;
}
/* 回复、评论、编辑 */
.other-topic-footer-top-right {
}
.other-topic-footer-top-right ul {
  display: flex;
}
.other-topic-footer-top-right ul li {
  margin-right: 10px;
}
.other-topic-footer-top-right ul li a {
  color: #4d4d4d;
}
/* 底部的评论 */
.other-topic-footer-bottom {
}
/* 其它人回帖的底部 */
.other-topic-footer {
  width: 100%;
  min-height: 50px;
}
/* 底部的评论 */
.other-topic-footer-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/* 评论的标题 */
.other-topic-comment-title {
  margin: 0 auto;
}
/* 评论容器 */
.other-topic-comment-container {
  width: 80%;
  margin: 0 auto;
}
/* 单个评论容器 */
.single-comment-container {
  display: flex;
  margin: 10px 0;
}
.single-comment-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
/* 单个评论的内容区 */
.single-comment-content {
  display: flex;
  flex-direction: column;
}
/* 单个评论内容区顶部 */
.single-comment-content-top {
  display: flex;
  justify-content: space-between;
}
/* 顶部左侧名字 */
.single-comment-left {
  font-size: 15px;
}
/* 顶部吧右侧点赞、踩 */
.single-comment-right {}
.single-comment-right ul {
  display: flex;
  align-items: center;
}
.single-comment-right ul li {
  margin-right: 10px;
}
.single-comment-right ul li a {
  color: #4d4d4d;
}
/* 单个评论内容区底部 */
.single-comment-content-bottom {
  font-size: 12px;
  text-indent: 25px;
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 10; /* 显示两行文本 */
}
