@import url(../../css/color.css);
/* 顶部固定交互栏 */
.header {
  top: 0;
  position: sticky;
  z-index: 1007;
  /* 设置可视区域内容不覆盖顶部 shadow */
  margin-bottom: 10px;
}
/* 下面帖子详情区的容器 */
.topic-wrapper {
  display: flex;
  flex-shrink: 0;
}
/* 下方可视内容区的容器 */
.content-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  /* 设置背景的毛玻璃效果 */
  backdrop-filter: blur(5px);
  background-color: var(--kungalgame-trans-white-5);
  /* 设置背景边框和圆角 */
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
/* 左侧内容区 */
.content-left-part {
  top: 73px;
  position: sticky;
  /* 左侧区域的总高度 */
  height: 1000px;
  /* 左侧区域宽度 */
  width: 250px;
  /* 左侧内容区为弹性盒，方便分成上下两部分 */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* ----------------------------------- */
/* 帖子详情页的交互 */
.topic-page-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  /* 左边第一个部分的边 */
  border: 1px solid var(--kungalgame-trans-red-4);
  box-shadow: var(--shadow);
  border-radius: 5px;
  /* 距离顶部的距离 */
  margin-bottom: 17px;
  /* 隐藏溢出的边角 */
  overflow: hidden;
}
/* 两个列表的容器 */
.topic-page-nav-container {
  flex-grow: 1;
  display: flex;
  background-color: var(--kungalgame-trans-yellow-0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* 每个功能 */
.topic-page-nav-container > li {
  padding: 0 11px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  /* 页面变化时不换行 */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.topic-page-nav-container > li > i {
  margin-right: 4px;
  font-size: 17px;
}
/* 功能区 hover */
.topic-page-nav-container > li::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background-color: var(--kungalgame-trans-red-4);
  z-index: -1;
  transition: transform 0.3s ease;
}
.topic-page-nav-container > li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ----------------------------------- */
/* 相同标签下的其它帖子 */
.same-tag-topic {
  height: 1px;
  flex-grow: 4;
  width: 100%;
  /* 上方区域的配色 */
  border: 1px solid var(--kungalgame-trans-blue-2);
  /* 隐藏溢出的颜色 */
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--kungalgame-trans-blue-0);
  /* 左侧两个部分之间的距离 */
  margin-bottom: 17px;
  /* 盒子的阴影 */
  box-shadow: var(--shadow);
}
.same-tag-topic ul {
  height: 100%;
  /* 整体为一个无序列表，列表为弹性盒 */
  display: flex;
  flex-direction: column;
}
.same-tag-topic ul li {
  height: 1px;
  width: 100%;
  /* 每个项目相对于标题的占比 */
  flex-grow: 3;
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 设置左侧的 border 方便制作 hover */
  border-left: 4px solid transparent;
  /* 内边距盒子 */
  box-sizing: border-box;
}
/* 上方的 hover 效果 */
.same-tag-topic ul li:hover {
  border-left: 4px solid var(--kungalgame-red-3);
  background-color: var(--kungalgame-trans-blue-1);
  transition: 0.3s;
}
/* 单个标题的样式 */
.same-tag-topic ul li a {
  /* 左右两侧的距离 */
  margin: 0 17px;
  color: var(--kungalgame-font-color-3);
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 标题的字体属性 */
  font-size: small;
  line-height: 1.5em;
  box-sizing: border-box;
}
/* 大标题（相同标签下的其它帖子）的样式 */
.same-tag-topic ul li:nth-child(1) {
  /* 左侧没有 border，没有 hover */
  border-left: 0;
  /* 相对于单个帖子标题的比例 */
  flex-grow: 2;
  line-height: 40px;
  font-size: 1.8ch;
  font-weight: bold;
  background-color: var(--kungalgame-trans-blue-1);
  /* 与单个帖子标题的分割线 */
  border-bottom: 1px solid var(--kungalgame-trans-blue-2);
  /* 水平居中 */
  justify-content: center;
}
/* ----------------------------------- */
/* 楼主的其它帖子 */
.master-other-topic {
  width: 100%;
  height: 1px;
  flex-grow: 4;
  /* 上方区域的配色 */
  border: 1px solid var(--kungalgame-trans-pink-2);
  /* 隐藏溢出的颜色 */
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--kungalgame-trans-pink-0);
  box-shadow: var(--shadow);
}
.master-other-topic ul {
  height: 100%;
  /* 整体为一个无序列表，列表为弹性盒 */
  display: flex;
  flex-direction: column;
}
.master-other-topic ul li {
  height: 1px;
  width: 100%;
  /* 每个项目相对于标题的占比 */
  flex-grow: 3;
  display: flex;
  /* 垂直居中 */
  align-items: center;
  /* 设置左侧的 border 方便制作 hover */
  border-left: 4px solid transparent;
  /* 内边距盒子 */
  box-sizing: border-box;
}
/* 上方的 hover 效果 */
.master-other-topic ul li:hover {
  border-left: 4px solid var(--kungalgame-blue-3);
  background-color: var(--kungalgame-trans-pink-1);
  transition: 0.3s;
}
/* 单个标题的样式 */
.master-other-topic ul li a {
  /* 左右两侧的距离 */
  margin: 0 17px;
  color: var(--kungalgame-font-color-3);
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 2; /* 显示两行文本 */
  /* 标题的字体属性 */
  font-size: small;
  line-height: 1.5em;
  box-sizing: border-box;
}
/* 大标题（相同标签下的其它帖子）的样式 */
.master-other-topic ul li:nth-child(1) {
  /* 左侧没有 border，没有 hover */
  border-left: 0;
  /* 相对于单个帖子标题的比例 */
  flex-grow: 2;
  line-height: 40px;
  font-size: 1.8ch;
  font-weight: bold;
  background-color: var(--kungalgame-trans-pink-1);
  /* 与单个帖子标题的分割线 */
  border-bottom: 1px solid var(--kungalgame-trans-pink-2);
  /* 水平居中 */
  justify-content: center;
}
/* 版权描述,版本号 */
.kungalgame-footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* 距离上面的距离 */
  margin-top: 17px;
  /* 文字间距 */
  letter-spacing: 1px;
}
/* ----------------------------------- */
/* 右侧内容区 */
.content-right-part {
  height: 100%;
  width: 1px;
  flex-grow: 4;
  /* 右侧内容区为弹性盒（用户可以一直向下滑） */
  display: flex;
  flex-direction: column;
  /* 右侧部分距离左侧的距离 */
  margin-left: 10px;
}
/* 楼主帖子容器 */
.master-topic-container {
  width: 100%;
  /* 楼主帖子最小高度 */
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 楼主帖子距离其它人帖子的距离 */
  margin-bottom: 5px;
  /* TODO: */
  /* 楼主帖子背景图 */
  /*   background-image: url(../../img/bg-dark.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* 楼主标志位置 */
.master-topic-floor {
  /* 标志在最左边 */
  margin-left: 100%;
  /* 定位 */
  margin-bottom: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* 位于内容上方 */
  z-index: 1;
}
/* 楼主标志属性 */
.master-btn {
  border: none;
  /* 大小 */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  letter-spacing: 2px;
  background: linear-gradient(
    var(--kungalgame-blue-1),
    var(--kungalgame-pink-1)
  );
  opacity: 0.8;
  font-size: 37px;
  font-weight: bold;
  font-style: oblique;
  color: var(--kungalgame-pink-1);
  text-shadow: -1px 0 var(--kungalgame-blue-4), 0 -1px var(--kungalgame-blue-4),
    1px 0 var(--kungalgame-blue-4), 0 1px var(--kungalgame-blue-4),
    1px 1px var(--kungalgame-black), -1px -1px var(--kungalgame-black),
    -1px 1px var(--kungalgame-black), 1px -1px var(--kungalgame-black),
    4px 2px 2px var(--kungalgame-red-4);
}

/* 楼主帖子内容区的容器 */
.master-topic-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid var(--kungalgame-blue-1);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
  background-color: var(--kungalgame-trans-white-3);
  box-sizing: border-box;
}
/* 楼主帖子头部 */
.master-topic-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--kungalgame-font-color-3);
  font-size: 17px;
  border-bottom: 1px solid var(--kungalgame-blue-1);
  box-sizing: border-box;
}
/* 楼主帖子标题 */
.master-topic-title {
  font-size: 17px;
  font-weight: bold;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 文字不换行 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 楼主帖子内容区 */
.master-topic-content {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
/* 内容区的顶部 */
.master-topic-content-top {
  width: 100%;
  height: 40px;
  display: flex;
  text-align: center;
  /* 时间和标签分居两侧 */
  justify-content: space-between;
  /* 下面的分割线 */
  border-bottom: 1px solid var(--kungalgame-blue-1);
  box-sizing: border-box;
}
/* 帖子的标签 */
.master-topic-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 图标字体 */
.master-topic-tags i {
  padding: 0 20px;
  color: var(--kungalgame-blue-4);
}
/* 单个标签的盒子 */
.master-topic-tags ul {
  display: flex;
}
/* 单个标签的样式 */
.master-topic-tags ul li {
  margin-left: 5px;
  font-size: small;
  padding: 2px;
  background-color: var(--kungalgame-blue-0);
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
}
.master-topic-tags ul li:hover {
  background-color: var(--kungalgame-red-0);
  transition: 0.2s;
}
/* 发帖时间 */
.master-topic-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 窗口缩小不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 沙漏的样式 */
.master-topic-time i {
  padding: 0 10px;
  color: var(--kungalgame-red-4);
}
/* 发帖时间的样式 */
.master-topic-time div {
  padding-right: 20px;
}
/* 内容区的中部 */
.master-topic-content-center {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid var(--kungalgame-blue-1);
  box-sizing: border-box;
}
/* 内容区左侧楼主的信息 */
.master-topic-content-center-left {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
/* 楼主的头像 */
.master-avatar {
  /* 图像加载不出来时页面不塌陷 */
  width: 100px;
  margin-top: 17px;
}
/* 楼主的等级 */
.master-rank {
  font-size: 10px;
  position: absolute;
  margin-left: 90px;
}
/* 楼主的头像图片 */
.master-avatar img {
  width: 100px;
}
/* 楼主的名字 */
.master-name {
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
/* 楼主的萌萌点 */
.master-moemoepoint {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
/* 内容区右侧的帖子展示区 */
.master-topic-content-center-right {
  font-size: 15px;
  padding: 17px;
  border-left: 1px solid var(--kungalgame-blue-1);
}
/* 内容区的底部 */
.master-topic-content-bottom {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--kungalgame-blue-1);
}
/* 内容区域下方字体样式 */
.master-topic-content-bottom span {
  margin: 0 10px;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 帖子状态 */
.master-topic-content-bottom span span {
  background-color: var(--kungalgame-green-3);
  color: var(--kungalgame-white);
}
/* 楼主帖子底部 */
.master-topic-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 底部左侧部分（点赞、推贴、踩） */
.master-topic-footer-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 单个图标 */
.master-topic-footer-left ul li {
  margin-left: 17px;
}
.master-topic-footer-left ul li a {
  color: var(--kungalgame-font-color-2);
  font-size: 20px;
}
.master-topic-footer-left ul li:nth-child(1) a {
  color: var(--kungalgame-red-4);
}
/* 底部右侧部分（回复、评论、只看、编辑） */
.master-topic-footer-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.master-topic-footer-right ul li {
  margin-right: 17px;
}
.master-topic-footer-right ul li a {
  color: var(--kungalgame-font-color-2);
  font-size: 20px;
}
/* button 的容器 li */
.master-topic-footer-right ul li:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 回帖按钮 */
.kungalgame-reply-btn {
  position: relative;
  display: inline-block;
  padding: 7px 17px;
  color: var(--kungalgame-blue-3);
  overflow: hidden;
  border: 2px solid var(--kungalgame-blue-2);
  filter: hue-rotate(0deg);
  transition: all 0.1s linear;
  cursor: pointer;
}
.kungalgame-reply-btn:hover {
  border: 2px solid transparent;
  color: var(--kungalgame-orange-3);
}
.kungalgame-reply-btn:hover span {
  position: absolute;
  display: block;
}
.kungalgame-reply-btn:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, var(--kungalgame-blue-3));
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.kungalgame-reply-btn:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--kungalgame-blue-3));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.kungalgame-reply-btn:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--kungalgame-blue-3));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}
.kungalgame-reply-btn:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--kungalgame-blue-3));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* ----------------------------------- */
/* 其它人的回帖 */
/* 每个人的帖子 */
.other-topic-container,
.other-topic-single-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 其它人的楼层 */
.other-topic-floor {
  /* 标志在最左边 */
  margin-left: 100%;
  /* 定位 */
  margin-bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 位于内容上方 */
  z-index: 1;
}
/* 其他人的楼层样式 */
.other-btn {
  border: none;
  /* 大小 */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    var(--kungalgame-blue-1),
    var(--kungalgame-pink-1)
  );
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  color: var(--kungalgame-pink-1);
  text-shadow: -1px 0 var(--kungalgame-blue-5), 0 -1px var(--kungalgame-blue-5),
    1px 0 var(--kungalgame-blue-5), 0 1px var(--kungalgame-blue-5),
    1px 1px var(--kungalgame-black), -1px -1px var(--kungalgame-black),
    -1px 1px var(--kungalgame-black), 1px -1px var(--kungalgame-black),
    4px 2px 2px var(--kungalgame-red-4);
}
/* 其他人帖子内容区容器 */
.other-topic-content-container {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border: 1px solid var(--kungalgame-blue-1);
  border-radius: 5px;
  background-color: var(--kungalgame-trans-white-3);
  box-shadow: var(--shadow);
}
/* 其它人回帖的内容区 */
.other-topic-content {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}
/* 其他人回帖的上部 */
.other-topic-content-top {
  display: flex;
  flex-grow: 1;
}
/* 其它人回帖的上部左侧区域 */
.other-topic-content-left {
  padding: 0 20px;
}
/* 其他人的头像 */
.other-avatar {
  margin-top: 17px;
}
/* 其他人的头像图片 */
.other-avatar img {
  width: 100px;
}
/* 其他人的等级 */
.other-rank {
  font-size: 10px;
  position: absolute;
  margin-left: 90px;
}
/* 其他人的名字 */
.other-name {
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
/* 其他人的萌萌点 */
.other-moemoepoint {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
/* 其它人回帖的上部右侧区域 */
.other-topic-content-right {
  display: flex;
  flex-direction: column;
}
/* 右侧的上部区域 */
.other-topic-content-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  letter-spacing: 1px;
}
/* 上部区域的左边 */
.other-topic-content-right-top-left {
  font-size: 17px;
}
/* 被回复的人 */
.other-topic-content-right-top-left span a {
  color: var(--kungalgame-blue-5);
  font-weight: 500;
}
.other-topic-content-right-top-left span a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
/* 上部区域的右边 */
.other-topic-content-right-top-right {
  font-size: 12px;
}
.other-topic-content-right-top-right span {
  margin-right: 30px;
}
/* 右侧部分分文本 */
.other-topic-content-right-text {
  padding: 7px;
  border-left: 1px solid var(--kungalgame-blue-1);
  font-size: 15px;
}
/* 其他人回帖的下部 */
.other-topic-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--kungalgame-blue-1);
  padding-bottom: 7px;
}
/* 其他人回帖的下部分左侧 */
.other-topic-content-bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 单个标签的盒子 */
.other-topic-content-bottom-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 图标字体 */
.other-topic-content-bottom-left i {
  padding: 0 20px;
  color: var(--kungalgame-blue-4);
}
/* 单个标签的样式 */
.other-topic-content-bottom-left ul li {
  margin-left: 5px;
  font-size: small;
  padding: 2px;
  background-color: var(--kungalgame-blue-0);
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
}
.other-topic-content-bottom-left ul li:hover {
  background-color: var(--kungalgame-red-1);
  transition: 0.2s;
}
/* 其他人回帖的下部分右侧 */
.other-topic-content-bottom-right {
  margin-right: 20px;
}
/* 其他人回帖的时间 */
.other-topic-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  /* 文字间距 */
  letter-spacing: 1px;
  /* 窗口缩小不换行 */
  overflow: hidden;
  white-space: nowrap;
}
/* 沙漏的样式 */
.other-topic-time i {
  padding: 0 10px;
  color: var(--kungalgame-red-4);
}
/* 发帖时间的样式 */
.other-topic-time div {
  padding-right: 20px;
}
/* 其它人回帖的底部 */
.other-topic-footer {
  display: flex;
  flex-direction: column;
}
/* 顶部的点赞、推贴等 */
.other-topic-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
/* 点赞、推贴、踩 */
.other-topic-footer-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-topic-footer-top-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-topic-footer-top-left ul li {
  margin-left: 17px;
}
.other-topic-footer-top-left ul li a {
  color: var(--kungalgame-font-color-2);
  font-size: 20px;
}
.other-topic-footer-top-left ul li:nth-child(1) a {
  color: var(--kungalgame-red-4);
}
/* 回复、评论、编辑 */
.other-topic-footer-top-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.other-topic-footer-top-right ul li {
  margin-right: 17px;
}
.other-topic-footer-top-right ul li a {
  color: var(--kungalgame-font-color-2);
  font-size: 20px;
}
/* 其它人回帖的底部 */
.other-topic-footer {
  width: 100%;
  min-height: 50px;
}
/* 底部的评论 */
.other-topic-footer-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/* 评论的标题 */
.other-topic-comment-title {
  margin: 0 auto;
}
/* 评论容器 */
.other-topic-comment-container {
  width: 95%;
  margin: 0 auto;
}
/* 单个评论容器 */
.single-comment-container {
  display: flex;
  margin: 10px 0;
}
.single-comment-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
/* 单个评论的内容区 */
.single-comment-content {
  display: flex;
  flex-direction: column;
}
/* 单个评论内容区顶部 */
.single-comment-content-top {
  display: flex;
  justify-content: space-between;
}
/* 顶部左侧名字 */
.single-comment-left {
  font-size: 15px;
}
.single-comment-left a {
  color: var(--kungalgame-blue-5);
}
.single-comment-left a:hover {
  text-decoration: underline;
}
.single-comment-right ul {
  display: flex;
  align-items: center;
}
.single-comment-right ul li {
  margin-right: 10px;
}
.single-comment-right ul li a {
  color: var(--kungalgame-font-color-2);
}
/* 单个评论内容区底部 */
.single-comment-content-bottom {
  font-size: 12px;
  text-indent: 25px;
  /* 标题显示两行、超出部分隐藏 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  display: -webkit-box; /* 将文本框转化为弹性伸缩盒子 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  -webkit-line-clamp: 10; /* 显示两行文本 */
}
