@import url(../../css/color.css);
/* 根容器 */
.container {
    /* 固定宽高 */
    height: 600px;
    width: 700px;
    /* 居中 */
    margin: auto;
    background-color: var(--kungalgame-trans-white-5);
    border: 1px solid var(--kungalgame-red-4);
    overflow: hidden;
    border-radius: 7px;
    /* 模糊背景 */
    backdrop-filter: blur(5px);
    display: flex;
    color: var(--kungalgame-font-color-3);
    position: relative;
    box-shadow: var(--shadow);
}
/* 页面标题 */
.title {
    /* 字体竖直方向分布 */
    font-size: 30px;
    padding: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--kungalgame-font-color-2);
}
/* 文章部分 */
.article {
    width: 90%;
    background-color: var(--kungalgame-trans-white-3);
    border-left: 1px solid var(--kungalgame-red-4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 文章标题 */
.article-title {
    margin: 20px 0;
    font-size: 20px;
}
/* 内容区容器 */
.content {
    width: 100%;
    height: 100%;
    height: 500px;
    /* y 轴溢出滚动 */
    overflow: scroll;
    padding: 0 10px;
    box-sizing: border-box;
}
/* 原因、处理方式 */
.log-title {
    top: 0;
    padding-top: 20px;
    height: 40px;
    /* 相对于标题粘滞定位 */
    position: sticky;
    display: flex;
    justify-content: space-between;
}
/* 单个记录 */
.single-log {
    margin: 20px 40px;
    border-bottom: 1px solid var(--kungalgame-blue-4);
}
/* 原因 */
.reason {
    width: 80%;
    padding-left: 5px;
    border-left: 2px solid var(--kungalgame-blue-4);
}
/* 后果 */
.result {
    border-right: 2px solid var(--kungalgame-red-4);
    padding-right: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}
.copyright {
    margin: 10px auto;
}