@import url(../../css/color.css);
.content-container {
  height: 600px;
  width: 900px;
  position: relative;
  margin: auto;
  background-color: var(--kungalgame-trans-white-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.content {
    width: 100%;
    height: 100%;
  display: flex;
  background-color: aqua;
}
.next-ver {
    width: 50%;
}
.history-ver {
  height: 100%;
  width: 50%;
}
.title {
  height: 40px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-history ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--kungalgame-blue-4);
}
.article-history ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.update-time {
  display: flex;
  justify-content: end;
  font-size: 13px;
}
.copyright {
  position: absolute;
  bottom: 0;
}
