@import url(../../css/color.css);
.content-container {
  height: 600px;
  width: 900px;
  position: relative;
  margin: auto;
  background-color: var(--kungalgame-trans-white-2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
    width: 100%;
  display: flex;
}
.next-ver {
    flex-grow: 1;
}
.history-ver {
    flex-grow: 1;
}
.copyright {
  position: absolute;
  bottom: 0;
}
