@import url(../../css/color.css);
/* 页面头部 */
.container {
  width: 1000px;
  height: 700px;
  background-color: var(--kungalgame-trans-white-2);
  border-radius: 7px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.header {
  flex-grow: 1;
  position: relative;
}
/* 用户名 */
.kungalgamer-name {
    border-radius: 7px;
  background-color: var(--kungalgame-trans-blue-0);
}
.kungalgamer-name > ul {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  bottom: 40%;
  left: 23%;
}
.kungalgamer-name > ul li:nth-child(1) {
  font-size: 22px;
}
.kungalgamer-name > ul li:nth-child(2) {
  font-size: 14px;
}
/* 用户头像 */
.kungalgamer-avatar {
  position: absolute;
  top: 0;
  left: 7%;
}
.kungalgamer-avatar img {
  width: 150px;
  border-radius: 50%;
}
/* 用户萌萌点 */
.moemoepoint {
    
  border-top: 2px solid var(--kungalgame-blue-4);
  border-bottom: 1px solid var(--kungalgame-blue-4);
  background-color: var(--kungalgame-trans-blue-2);
  box-sizing: border-box;
}
/* 

内容区

*/
.content {
    flex-grow: 2;
  display: flex;
}
/* 左侧交互区 */
.nav {
  background-color: var(--kungalgame-trans-red-1);
}
.nav > ul {
  display: flex;
  flex-direction: column;
}
.nav > ul li {
  background-color: var(--kungalgame-trans-blue-2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.article {

}
.kungalgamer-info {
  margin: 6px 45px;
  display: flex;
  flex-direction: column;
}
.kungalgamer-info > li {
  display: flex;
  align-items: center;
}
.kungalgamer-info > li:nth-child(5) > ul {

  display: flex;
  justify-content: space-between;
}
.kungalgamer-info > li:nth-child(6) {
  display: flex;
  justify-content: space-between;
}
.kungalgamer-info > li:nth-child(7) {

}
