body {
	align-items: center;
	background: url("../../img/bg.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}

/* 登陆和注册的标题 */
.sign-in-title,
.sign-up-title{
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

/* 忘记密码 */
.link {
	color: #333;
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.sign-container {
	border-radius: 5px;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: 420px;
	max-width:760px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sign-in-container,
.sign-up-container {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}

.sign-up-container {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}

.aside-container {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.aside-container {
	transform: translateX(-100%);
}

.aside {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.aside {
	transform: translateX(50%);
}
/* 交互页面的盒子 */
.aside-left {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.7);
}

.aside-left h2 {
	font-size: medium;
	color: #333;
}

.aside-left {
	transform: translateX(-20%);
}

.aside-left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.aside-right {
	transform: translateX(20%);
}

.btn {
	border-radius: 50px;
	background-color: #ecf5ff;
	border: 1px solid #409eff;
	color: #409eff;
	cursor: pointer;
	font-size: 0.9em;
	letter-spacing: 0.1rem;
	padding: 0.6rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.btn:hover {
	background-color: #409eff;
	color: #ecf5ff;
}

.form > .btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}
/* 表单的设置 */
.form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	outline: none;
	border-bottom: 1px solid #b9bdc5;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}
